[2012-07-24 17:16] ombre42 opened #2 "sys.stderr is not captured while a keyword is running"
Robot Framework and RemoteApplications capture stderr and append after stdout in the output. PythonRemoteServer should be consistent with them.

[2014-01-02 14:10] pekkaklarck opened #3 "Dynamic port selection and writing used port to external file"
Selecting the port to use dynamically has two major benefits:
- No need to have port open on registered port range.
- Faster to launch remote servers sequentially when there's no need to wait ports to be free'ed. This happens to be needed in our acceptance tests and thus this feature is included into the 1.0 release.

This feature has three sides:
1. Actual implementation of selecting a port dynam

[2014-01-11 07:42] yamateh opened #4 "Keyword 'Capture Page Screenshot' could not be run on failure"
when i run case with  selenium2Library,if it is failed,'Capture Page Screenshot' is not work. it throws  '[ WARN ] Keyword 'Capture Page Screenshot' could not be run on failure: 'NoneType' object has no attribute 'get_handler'

[2014-01-13 14:47] #4 closed, assigned to nobody

[2014-01-13 15:47] #2 closed, assigned to pekkaklarck

[2014-01-15 03:21] ombre42 opened #5 "Hide exception type name for custom exceptions"
If an exception thrown in a user keyword has the attribute ROBOT_SUPPRESS_NAME, its value should be honored to be consistent with local execution. ROBOT_SUPPRESS_NAME was added in 2.8.2.

[2014-01-15 11:36] pekkaklarck opened #6 "Support hiding exception name using `ROBOT_SUPPRESS_NAME`"
RF 2.8.2 added support for dropping exception name from custom exceptions by having `ROBOT_SUPPRESS_NAME` attribute with True value. The remote server should follow the same convention.

[2014-01-15 11:38] #6 closed, assigned to pekkaklarck

[2014-01-15 12:23] #5 closed, assigned to nobody

[2014-01-15 12:46] pekkaklarck opened #7 "Fix handling exceptions with non-ASCII messages"
This has already been implemented by using `unicode` instead of `str` to get the string representation of an exception. Adding the issue here to get it into 1.0 release notes.

[2014-01-15 12:47] #7 closed, assigned to pekkaklarck

[2014-01-15 13:00] pekkaklarck opened #8 "Fix handling byte string with non-ASCII characters"
This has been fixed by using [Binary objects](http://docs.python.org/2/library/xmlrpclib.html#binary-objects) to transport byte strings that contain non-ASCII characters. The same solution was already in use for transporting bytes that are not valid in XML.

This issue is mainly added to get it listed in 1.0 release notes.

[2014-01-15 13:37] #8 closed, assigned to pekkaklarck

[2014-01-17 12:53] pekkaklarck opened #9 "Allow using `SIGTERM` signal for terminating the server"
Currently the server can be closed by `SIGINT` (sent e.g. by Ctrl-C) and `SIGHUP` (sent by console when it closes).

We should also support `SIGTERM` because most tools that can be used to stop processes use it by default. For example `kill` program and `Terminate Process` keyword use it.

[2014-01-17 12:59] pekkaklarck opened #10 "`Ctrl-C` or `SIGINT/SIGHUP` signals don't shut down the server immediately"
When `SIGINT` or `SIGHUP` signals are sent to the remote server or `Ctrl-C` pressed, the server reports that it is shutting down but the process doesn't actually end. The reason is that it is still waiting in `handle_request` method and exits only after next request comes and that method returns.

This can be fixed by sending an exception from the signal handler to exit `handle_request`. This exce

[2014-01-17 13:59] #10 closed, assigned to pekkaklarck

[2014-01-17 13:59] #9 closed, assigned to pekkaklarck

[2014-01-20 15:31] pekkaklarck opened #11 "Report continuable and fatal errors"
Remote interface is going to support reporting continuable and fatal errors soon. This remote server ought to support it too. See the following Robot Framework issue for more details about the new feature:
https://code.google.com/p/robotframework/issues/detail?id=1628

[2014-01-21 13:23] pekkaklarck opened #12 "Reduce response body size by only returning what is required"
Good point by @ombre42 that remote servers should not return empty values:
https://github.com/ombre42/jrobotremoteserver/issues/19

[2014-01-21 13:37] #11 closed, assigned to pekkaklarck

[2014-01-21 14:18] #12 closed, assigned to pekkaklarck

[2014-02-27 13:56] #3 closed, assigned to pekkaklarck

[2014-03-04 12:19] pekkaklarck opened #13 "With new style classes __init__ documentation got from object if not overridden"
If a new style class has no `__init__`, remote server incorrectly returns the generic docstring of `object.__init__` when run on Jython or IronPython. In practice this means that you get following doc to the importing section:

[code]

This bug is due to `inspect.isroutine(object().__init__)` returning True with Jython and IronPython. Because you get False with Python I assume this is a bug. Lucki

[2014-03-05 09:42] pekkaklarck opened #14 "Stopping server with Ctrl-C or signals does not work with Jython or IronPython"
With Python Ctrl-C stops the server fully. With Jython and IronPython stopping is initiated but the process doesn't return and there is a traceback on the console. The server exits if it is ever used again.

The problem is caused by differences in handling exceptions raised by signal handlers. With Python the exception we use breaks the loop in serve_forever, but with Jython and IronPython it is j

[2014-03-05 09:44] #13 closed, assigned to pekkaklarck

[2014-03-05 09:44] #14 closed, assigned to pekkaklarck

[2014-03-12 10:50] pekkaklarck opened #15 "Support for testing is server running and for stopping servers"
There has been some needs for both testing is a server running and easily stopping a running server. It would be convenient if the remote server itself supported them like this:

[code]

This can be implemented by connecting to the remote server via XML-RPC and using `stop_remote_server` method for stopping it (if allowed) and `get_keyword_names` to test is it running. This approach supports serve

[2014-03-12 10:53] pekkaklarck opened #16 "`stop_remote_server` should return `True/False` depending was server stopped or not"
Currently this method always returns True simply because all XML-RPC methods need to return something. This should be changed so that True is returned only if stopping server was allowed and False should be returned otherwise. After this external tools stopping the server can know was the server actually stopped or not.

As a separate task outside the scope of this project, the remote library API

[2014-03-12 12:18] #16 closed, assigned to pekkaklarck

[2014-03-12 12:27] #15 closed, assigned to pekkaklarck

[2014-03-18 10:09] pekkaklarck opened #17 "Python 3 support"
This would be especially handy because Robot Framework itself doesn't yet support Python 3. Most likely we will target Python 3.3 or newer and will at the same time drop support from versions prior to Python/Jython 2.5.

[2014-03-18 10:18] pekkaklarck opened #18 "Support for dynamic library API"
Currently the remote server supports only static and hybrid APIs. Supporting also the dynamic API shouldn't be too complicated and would mean all library APIs are covered.

There exits an old pull request #1 that implements this functionality. Unfortunately changes done in 1.0 version mean that it cannot be anymore cleanly merged. I also have quite big refactoring plans for the code in general, an

[2014-03-18 10:29] pekkaklarck opened #19 "Support serving multiple libraries by one server"
This would obviously ease hosting multiple libraries considerably. jrobotremoteserver by @ombre42 already handles this.

[2014-06-16 11:47] alans09 opened #20 "Asynchronous remote server"
Hi,

 it is possible to create asynchronous remote server? Using SocketServer.ThreadingMixIn or any other possible way?

 It would be nice to have server that can accept more than one command in one time. It would definitely lowers the time to run keywords (eg. vmware connector to work with more than one machine at the time)

[2014-08-23 20:42] mkorpela opened #22 "Starting server on background"
The init currently calls serve_forever() that prevents execution from continuing.
Init also registers signal handlers - this is only allowed in the main thread.
Thus currently it is not possible to start the server on background and continuing working on something else on the main thread.

[2015-02-14 10:27] mkorpela opened #24 "Stopping server seems to write two times "Robot Framework remote server at ... stopping.""

[2015-04-22 11:59] giri81 opened #25 "support for running RobotRemoteServer() on remote machine other than localhost"
it runs successfully when running RobotRemoteServer(ExampleRemoteLibrary(), host='127.0.0.1')
but it fails for other than localhost, RobotRemoteServer(ExampleRemoteLibrary(), host='200.20.57.10')

---

Traceback (most recent call last):
  File "C:\eclipse\my_workspace\march_3\remote_server\server.py", line 32, in <module>
    RobotRemoteServer(ExampleRemoteLibrary(), host='200.20.57.10')
  File "C

[2015-05-09 11:19] userzimmermann commented on #19
Hi. My [robotframework-tools](https://pypi.python.org/pypi/robotframework-tools) contain an extended `RobotRemoteServer` which has multiple library support and other additional features:

https://github.com/userzimmermann/robotframework-tools#4-using-robot-framework-remotely

[2015-06-17 20:29] calaharie commented on #25
Go into the file and change the localhost default address to 127.0.0.1   --- localhost normally emulates that address but for some reason it isn't in my machine so I am assuming that might be the case for you as well.

[2015-06-17 20:29] calaharie commented on #25
class DemoServer(TCPServer):
    allow_reuse_address = True

    def __init__(self, port=PORT):
        TCPServer.__init__(self, ('127.0.0.1', int(port )), SimpleHTTPRequestHandler)<---EDIT THIS LINE

    def serve(self, directory=ROOT):
        chdir(directory)
        print 'Demo server starting on port %d.' % self.server_address[1]
        try:
            server.serve_forever()
        except

[2015-07-02 13:28] vkruoso opened #26 "Support robot.api.logger when running remote keywords"
It would be a nice feature to have if you could have a library that uses the robot.api.logger to log messages to just work when used in a remote server using the PythonRemoteServer.

[2015-07-09 08:44] mengfeng commented on #14
I was facing similar problem before in Jython. This is how I get it resolved.

First, register a signal handler in your Jython script by:

    import signal
    def intHandler(signum, frame):
        print "Shutting down.."
        System.exit(1)

    # Set the signal handler
    signal.signal(signal.SIGINT, intHandler)
    signal.signal(signal.SIGTERM, intHandler)

This will register the signal h

[2015-07-14 10:34] VernonCrabtree commented on #26
I am looking for this 'feature' too.  It seems very strange not to support Robots own logging in a Robot server.
I know python "print" output is picked up.
But, as an example, I run the OperatingSystem Copy File keyword, but the INFO message gets lost on the remote system somewhere.  This needs to be reported back to the output of the calling script.
I tried registering my own logger in my remote

[2015-07-15 20:21] VernonCrabtree commented on #26
For anyone else coming here: I solved it with this bit of code in my remote library:

from robot.api import logger

def remote_log_message(message,level,html=False):
    print '*{}*  {}'.format(level, message)

logger.write = remote_log_message

This works because most Robot libraries import logger from robot.api - where we replace the definition of write.

[2015-07-31 17:08] mulmschneider opened #27 "Add support for Robot's programmatic logging APIs"
As far as I can tell, the way how logging works in combination with the PythonRemoteServer depends very much on when the corresponding logging StreamHandler is first created.
If it is created before _intercept_std_streams() is called, then the logging output will be sent to stderr of the server. If it is created after _intercept_std_streams(), then the output is sent as `output` to the calling cli

[2015-11-13 15:24] sanjeets opened #28 "how would i import the remote library in a python module"
I am trying
server = xmlrpclib.Server(server_url)
and am getting an exception when trying to call a method for example:
ret = server.ComputeSum(var1,var2)

[2016-01-06 12:35] w60001 opened #29 "Python3 Support"
This server code works great with Python2, but is not compatible with Python3. I attempted to port the code to Python3 (both manually and via 2to3), but am running into various errors:

TypeError: a bytes-like object is required, not 'str'
\<class 'TypeError'>:'TypeError' object is not iterable

For someone more familiar with Python 2->3 than I am, I'm assuming this should be fairly easy.  This re

[2016-01-08 21:52] w60001 commented on #29
Well, I got to a solution that I think is 90% correct, and works for my test cases on both 2.7 and 3.5.  I attached it here as a starting point.  I don't feel especially confident that binary data would work, as my tests don't use that...

[robotremoteserver3.py.txt](https://github.com/robotframework/PythonRemoteServer/files/83320/robotremoteserver3.py.txt)

[2016-01-08 22:07] pekkaklarck commented on #29
Python 3 support is important. It would be great if we could still support Python/Jython 2.5 too, but if that is too much work supporting only 2.6 and newer is OK.

Could you please create a pull request with your changes? It makes reviewing them a lot easier. Notice also that there are tests in the  `test` directory that should pass with your changes.

[2016-01-08 22:08] pekkaklarck commented on #29
This is a dupe of #17.

[2016-01-08 22:08] #29 closed

[2016-01-11 15:00] w60001 commented on #29
More work would be required to get my code to work for 2.6 and newer, so probably not too useful on its own...

Thanks.

[2016-02-25 05:42] rainmanwy commented on #18
Hi, Pekka

How about this issue, do you have plan to implement it?
i found "get_keyword_arguments" and "get_keyword_documentation" do not support dynamic libraries.

I am trying to implement a libraries which will expose some classes(Some protocols such as IP, TCP, ICMP which are implemented as python classes) as keywords to robot framework.

I have tried hybrid mode, these classes could not be im

[2016-02-29 17:19] HelioGuilherme66 opened #30 "Example documentation improvements (or corrections?)"
First time I am using this library/server, and I had difficulties in running the example. If I start with default values, then I can only test using 127.0.0.1:8270, not from other machines in my network.
Now if I start using the IP address of my server machine, I can run the example as intended. See below:

[code]

[code]

On client machines:

[code]
##

[code]

Running the tests (in the test file

[2016-03-01 18:41] pekkaklarck commented on #30
The example is intended to be executed on a single machine. Probably that could be made more explicit.

[2016-03-02 22:17] pekkaklarck commented on #18
So far this hasn't been important enough for anyone to provide a new PR or pay me or someone to implement it.

[2016-03-29 11:08] samratashok87 commented on #19
So with Robot Remote server we can host multiple libraries ?

[2016-03-29 17:29] pekkaklarck commented on #19
@userzimmermann: Cool! Interested to provide a pr here too?

[2016-04-11 11:41] userzimmermann commented on #19
@samratashok87 Hi. Thanks for your interest. And sorry for the late answer :)
Yes. By installing my https://github.com/zimmermanncode/robotframework-tools you can do that by following the explanation at https://github.com/zimmermanncode/robotframework-tools#4-using-robot-framework-remotely
Among some additional features also explained there.
But be aware that my project is still in an alpha stage

[2016-05-06 19:06] kalyanreddyt opened #32 "report is not generated"
Hi, we executed TCs via Jenkin and the execution was successful but got below error for report generation. Can someone please help how to resolve this issue

 raise DataError("Reading XML source '%s' failed: %s" % (unic(ets), error))
robot.errors.DataError: Reading XML source 'results\pabot_results\test.sample\fir.xml' failed: Incompatible XML element 'errors'.

[2016-05-07 19:40] mkorpela commented on #17
Pabot will not support Python 3 before this is done

https://github.com/mkorpela/pabot/issues/54

invalid syntax (robotremoteserver.py, line 103)

[2016-08-17 08:46] molsky commented on #17
I have tried to implement Python3 support but 24 acceptance tests are failing with Python3 and I have not yet figured out why. With Python2.7 atests and utests goes with 100% success.

Changes:
https://github.com/molsky/PythonRemoteServer/tree/python2-3

![screen shot 2016-08-17 at 11 09 55 2](https://cloud.githubusercontent.com/assets/1943521/17730127/06e730a2-6470-11e6-91ad-1b16680998ed.png)

![

[2016-10-07 17:13] userzimmermann commented on #17
Hi @molsky
Great work :) I took your approach a bit further:
https://github.com/userzimmermann/PythonRemoteServer/tree/python2-3

Only 3 failing atests left with python3, but all due to different unicode string display in comparison.
@pekkaklarck Those well known `Expected error 'Hyv\xe4' but got 'Hyvä'.` like problems from my earlier robotframework-python3 fork... ;) How did you unify those tests

[2016-11-13 02:36] fireplume opened #34 ""Strings Should Be Equal" should read as "Should Be Equal As Strings""
Thanks for the example. When trying it, I had an error and, after looking at the documentation, found that "Strings Should Be Equal" should read as "Should Be Equal As Strings".

[2016-12-07 08:57] swordfly commented on #26
@VernonCrabtree Thank you, it's really a easy and best solution.

[2016-12-22 11:56] epronk opened #35 "Please support the @keyword decorator"
When I tried to use an existing class containing keywords in a RemoteServer I found out that the @keyword decorator is not supported.

I'd be happy to help implementing this if we can discuss why the current implementation is not a true proxy.

see also:
https://github.com/robotframework/robotframework/issues/2486

[2016-12-22 21:17] pekkaklarck commented on #35
This is a good idea. Remote server doesn't really need to care about `@keyword` decorator, though, it only needs to check `robot_name` and `robot_tags` the decorator sets (and which can also be set otherwise). Implementation should basically contain two things:

- If `robot_name` is set to any meaningful value (i.e. non-empty string), keyword name reported to Remote library should be set based on

[2016-12-26 07:35] epronk commented on #35
https://github.com/epronk/PythonRemoteServer

[2017-01-09 15:40] pekkaklarck commented on #34
No, the example library ought to create `Strings Should Be Equal` keyword. If using it fails, you most likely don't have the remove server hosting the example library running. There's `Should Be Equal As Strings` in the BuiltIn library, but that should not be used here.

[2017-01-09 15:40] #34 closed

[2017-01-09 15:46] pekkaklarck commented on #25
I don't have problems using other addresses than localhost or 127.0.0.1. For example, I can start the provided example library like

    python  example/examplelibrary.py 192.168.1.15

and then run tests like

    robot --variable ADDRESS:192.168.1.15 example/example_tests.robot

Notice that my laptops public IP is that 192.168.1.15. It's obviously not possible to use other addresses than your mac

[2017-01-09 15:46] #25 closed

[2017-01-09 15:46] pekkaklarck commented on #32
Doesn't seem to be related to this tool.

[2017-01-09 15:46] #32 closed

[2017-01-09 15:48] pekkaklarck commented on #28
I don't understand what you are actually trying to do. That doesn't really matter because this issue tracker is for bug reports or enhancement requests. General questions are best sent to robotframework-users mailing list or other such forums.

[2017-01-09 15:48] #28 closed

[2017-01-09 15:50] pekkaklarck commented on #27
Yeah, the remote server only supports logging via stdout/stderr. Some kind of support for Robot's own `robot.api.logger` API and Python's standard `logging` module would be nice.

[2017-01-09 15:52] pekkaklarck commented on #27
Oh, #26 proposes the exact same thing. Closing this as a duplicate.

[2017-01-09 15:52] #27 closed

[2017-01-09 15:53] pekkaklarck commented on #26
Yep, official support for `robot.api.logger` as well as for Python's `logging` module would be nice.

[2017-01-09 16:19] pekkaklarck commented on #24
Could you clarify? Been working with Python 3 support and plan to create a new release once it's ready. Would like to get all possible bugs fixed at the same time.

[2017-01-09 16:22] pekkaklarck commented on #22
Yeah, this is stupid design. Shouldn't be too hard to fix,

[2017-01-09 16:24] pekkaklarck commented on #20
Sounds good to me. I don't have too much experience from asynchronous servers nor time to look at this in the foreseeable future, though. Anyone interested to create a PR?

[2017-01-09 17:12] #30 closed

[2017-01-10 00:03] pekkaklarck commented on #17
The code should now support Python 3. Acceptance tests run successfully with Python 3.3-3.6 both on Linux and Windows and also with PyPy 3 on Linux.

Tasks still todo:
- Go through docs. Should update them to mention Python 3 is supported and also that we support PyPy.
- Update setup.py. Need to add correct classifiers there.

[2017-01-10 10:37] pekkaklarck commented on #18
Did some refactoring to the code and one of the benefits was that adding dynamic library support became easier. I already got it mostly done.

[2017-01-10 12:56] #17 closed

[2017-01-10 12:56] #18 closed

[2017-01-11 23:33] pekkaklarck commented on #20
I tested using `ThreadingMixin` and `ForkingMixin` simply inheriting them in addition to `SimpleXMLRPCServer`. Here are findings:

1. Allows server to process multiple requests simultaneously as expected. Basically this means that one long lasting keyword doesn't block using other keywords.

2. Somewhat surprisingly there were no performance benefits whatsoever when running tests with quick keywor

[2017-01-11 23:48] pekkaklarck commented on #20
It seems that the thread safety problem could be fixed by using slightly modified version of the answers to this SO question:
http://stackoverflow.com/questions/3029816/how-do-i-get-a-thread-safe-print-in-python-2-6

[2017-01-13 12:39] pekkaklarck commented on #35
PR #37 merged few fixes, cleanups done afterwards. I consider this issue done.

Thanks @epronk for the PR! Comment the commits above or add a note here if you see something suspicious in my changes.

[2017-01-13 12:39] #35 closed

[2017-01-13 13:42] pekkaklarck commented on #22
Turned out to be much more work than I anticipated but ought to be pretty much ready now.

@mkorpela do you have time to test this and perhaps also to review the code?

Functionality is documented in the [README](https://github.com/robotframework/PythonRemoteServer/blob/master/README.rst) and also in docstrings in the code. Documentation comments are obviously appreciated too.

[2017-02-04 17:55] pekkaklarck opened #38 "Support `get_keyword_tags` method that was added in RF 3.0.2"
The remote interface got new `get_keyword_tags` method in RF 3.0.2. See robotframework/robotframework#2538 for details.

[2017-03-03 16:29] JingYang0725 opened #39 "Can I use nginx as a proxy?"
Hello:
         I would like to set up a number of remote services, the use of nginx proxy http rpc, I wonder if this is feasible?

Thank you！

[2017-03-06 12:26] DirkRichter opened #40 "SyntaxError: invalid syntax for Python 3.6"
**Cite**: 'Remote server 1.1 and newer support Python 2.6, 2.7, 3.3, **and newer**.'

Python 3.6.0 on win32:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Program Files (x86)\Python36-32\lib\site-packages\robotremoteserver.py", line 103
    except (OSError, select.error), err:

SyntaxError: invalid syntax

[2017-03-06 12:28] DirkRichter commented on #40
sorry. i tried 1.0.1 from pip...

[2017-03-06 12:28] #40 closed

[2017-03-07 10:42] pekkaklarck commented on #40
Unfortunately this project got into a hold after implementing Python 3 support (#17) and 1.1 release is not out yet. I ought to have time for this project again this or next week and ought to get the release out soonish.

[2017-04-11 10:29] pekkaklarck commented on #39
I guess it should be. I know nothing about nginx, though.

Notice also that this tracker is for bug reports and enhancement requests. Support forums like robotramework-users mailing list are better for generic questions like this.

[2017-04-11 10:29] #39 closed

[2017-04-11 10:29] pekkaklarck commented on #24
No new info. Closing.

[2017-04-11 10:29] #24 closed

[2017-04-13 08:44] pekkaklarck commented on #22
This ought to be now supported and 1.1 RC 1 is also out. Testing the functionality and reviewing the related documentation in the README would be highly appreciated.

[2017-04-13 08:44] #22 closed

[2017-04-13 11:02] #38 closed

[2017-06-24 19:52] stupidnetizen opened #41 "Getting Error 10060 while using Remote Server and running tests"
Hi,
I am not able to run tests given in examples. Not able to connect to the server running on the same Windows 7 PC.

![image](https://user-images.githubusercontent.com/3921089/27511552-98ba7f92-5944-11e7-9d12-c19a985a0a8f.png)

Please see the image; In one command window, the server has already started. but while running tests, I get error 10060;
[ ERROR ] Error in file 'C:\Users\jitendrasi\gitr

[2017-06-25 07:53] stupidnetizen commented on #41
I tried running the `robotremoteserver.py test $IP:$PORT`, and it prints `No remote server running at $IP`. Well, it works when I use `loopback` address on the same PC.

It works when I try the same thing on a Linux box i.e. by running the server and client targeting the $IP of one of my interfaces.

It also works when I run the `tests.robot` by giving an $IP of one of my interfaces of the Linux i

[2017-06-27 17:20] stupidnetizen commented on #41
I tried running both server and client on my personal Windows PC which is not part of any corporate domain. It works.
I think it might be some firewall 🔥 issue.
Hoping to close this one soon.

[2017-07-12 01:24] #41 closed

[2017-09-17 04:56] zeinababbasi commented on #19
I have made some changes in the project to accept multiple libraries on a new branch. I don't have permission on the project to push. This is my own repository:
https://github.com/zeinababbasi/RobotFrameworkPythonRemoteServer/tree/master

[2017-09-17 05:11] zeinababbasi opened #42 "Support serving Robot Framework Keywords"
Server provides robot framework keywords written in ".robot" files.

[2017-09-18 09:10] pekkaklarck commented on #42
What benefits would this enhancement bring?

[2017-09-18 09:14] pekkaklarck commented on #19
Great that you are interested to help with this. I looked at your repo, but for some reason it seems that you have modified all files and it's totally impossible to see the actual changes. Probably best if you fork the repository again and add you changes on top of it. I'd also recommend creating a separate topic branch for the work as it makes it easier to create pull request later.

[2017-09-18 10:12] zeinababbasi commented on #42
Hi Dear Pekka,

One of the benefits of the Robot Framework Remote Server for me is that I
can register some of the common (shared) libraries among all of my test
projects on the server and tell all clients to get those from the server;
it eliminates repetition of shared libraries. I also have shared Robot
keywords which I prefer to serve them on a Robot Framework Remote Server
like what I'm doing

[2017-09-18 10:13] zeinababbasi commented on #19
Hi Dear Pekka,

I will contribute my changes on the original project as soon as it's
possible. :-)

On Mon, Sep 18, 2017 at 1:44 PM, Pekka Klärck <notifications@github.com>
wrote:

[2017-09-18 13:16] pekkaklarck commented on #42
I understand benefits of reusable resource files. Could you clarify what benefits where would be having them on the remote server side and not where Robot actually is running? Local resource files can use remote keywords without any problems.

If the motivation is to have those higher level keywords in a single place and avoid the need to distribute them to everyone, I would say that's not a very

[2017-09-27 06:01] hallos opened #43 "Cant run server with python modules"
Hello,
I am trying to run the server by passing a pythonmodule as library, as I understood it from the docs it should work.

But when I run some keywords from Robot framework the test just stalls and I have to force it to stop.

As soon as I edit my module and change it to a class it works.
It works to pass an objectinstance to RemoteServer and it works to pass a class as static with static method

[2017-09-27 07:39] pekkaklarck commented on #43
As you can see, I added an explicit test for using a module as a remote library in 724445d. I doubt the problem you are facing has anything to do with how it's implemented, but with the provided information it's impossible to know what's going on. Can you create a simple example demonstrating the problem?

[2017-09-29 13:57] hallos commented on #43
I did some more experimenting and realized that my problem is probably lying elsewhere, sorry for that.
I have an external module imported in my own module and that one is causing the problem.
When I comment out the import of this other module I can call my keywords from Robot Framework via RemoteServer as usual.
Why I need to rewrite my module as a class to be able to import this module maybe has

[2017-09-29 13:57] #43 closed

[2017-09-29 14:17] pekkaklarck commented on #43
Great that you got it sorted out!

[2017-11-28 14:04] tzedar opened #44 "RobotRemoteServer fault on Windows Server 2016"
I am getting the following error in Windows:

Faulting application name: RobotRemoteServer.exe, version: 1.0.0.1, time stamp: 0x559fc533
Faulting module name: KERNELBASE.dll, version: 10.0.14393.1532, time stamp: 0x5965adf8
Exception code: 0xe0434352
Fault offset: 0x000da9f2
Faulting process id: 0x213c
Faulting application start time: 0x01d36398b275c90b
Faulting application path: C:\Users\Public\A

[2017-11-28 14:16] pekkaklarck commented on #44
I've never seen such a problem. I also don't know what version/distribution you are using. We've never distributed RobotRemoteServer.exe distribution ourselves.

[2018-01-31 22:34] pekkaklarck commented on #19
Great to hear that the code works. I still don't see any pull-request and that makes reviewing and merging changes hard. Are you @zeinababbasi interested to create a PR? If not, are you @livelace?

[2018-02-09 19:12] robooo opened #46 "Merge more libraries on remote server"
Can't figure out how to merge more libraries on remote server side.

Found this discussion: https://groups.google.com/forum/#!topic/robotframework-users/ESMmd11z3b8
but the errors are the same.

[code]

[2018-02-10 23:49] robooo commented on #46
should works with https://github.com/robotframework/PythonRemoteServer/issues/19

[2018-02-10 23:49] #46 closed

[2018-03-02 16:44] fadimko opened #48 "PythonRemoteServer silently changes default keyword arguments values"
It's easier to demonstrate the problem with a simple example. Let's create remote library py.py run it and use it in test.robot

py.py:
[code]

test.robot:
[code]

`$ pybot -L TRACE test.robot` generates this:
![robot log](https://i.imgur.com/CWlEdge.png)

Robot remote server passes default values converted to strings to first 2 parameters (but not 4th!).

The biggest problem is that all parameter

[2018-03-02 16:47] fadimko commented on #48
[code]

[2018-03-07 09:46] pekkaklarck commented on #48
This is a known issue. The reason for the behavior is this:

- The remote interface is build on top of the dynamic library API.
- Originally the dynamic library API method `run_keyword` only accepted two arguments `name` (name of the keyword to execute) and `args` (arguments to that keyword).
- When the named argument syntax was introduced to Robot (i.e. being able pass arguments like `name=value`

[2018-03-07 14:14] fadimko commented on #48
This would be cool!

It's easier for me to use @none_converter decorator that will convert all 'None' strings to `None` before actual function call, but this solution may be not flexible enough for big libraries.

[2018-06-25 14:32] elschman opened #51 "is there a way to get the callee of the remote lib"
My library wants to check the library caller.
If the caller is IP_A it have to react be different compared to caller IP_B

[2018-08-07 07:59] pekkaklarck commented on #19
It seems I have missed PR #47 that implements this. Unfortunately all my development time is currently spent with Robot Framework core and I don't really have time for this project until RF 3.1 is released.

[2018-09-28 19:27] dtougas opened #52 "Problems with **kwargs"
I am relatively new to Robot Framework, so maybe this is just a newbie error... I have a library method like this:

[code]

This library is getting launched remotely, and for the most part everything is working great, except for the `kwargs`. In my `.robot` file, if I call it like this:

[code]

What I am seeing is that the `my_arg=1` is getting passed in wholesale to `args` as a string, rather th

[2018-11-20 14:11] pekkaklarck opened #53 "Support to specify keyword argument types"
Robot Framework 3.1 added support for automatic argument conversion and also the remote API nowadays supports specifying the needed type information (robotframework/robotframework#3008). Should enhance Python Remote Server to provide that information.

[2018-11-20 14:14] pekkaklarck opened #54 "Support keyword-only arguments"
RF 3.1 got support for keyword-only arguments (robotframework/robotframework#2555) and also the dynamic API (and thus also the remote API) supports them (robotframework/robotframework#2897). Python Remote Server should support them as well.

[2018-11-20 14:16] pekkaklarck commented on #48
This has been fixed in the soon-to-be-released Robot Framework 3.1. See robotframework/robotframework#2930 for details.

[2018-11-20 14:16] #48 closed

[2019-03-04 13:56] mohan-barathi commented on #20
Hi @pekkaklarck ...!
I have implemented this a couple of years back.

To overcome the thread safety problem, I implemented a mechanism in the robotframework library, where I keep track of stdout and stderr of each and every thread.

Also, I created separate output and logger objects, so that a single process can produce multiple output logs [and] reports in the same time, when multiple invocations

[2019-03-14 07:13] loumaran commented on #19
Hi,
RF 3.1 is now released :-) Maybe there is a little time slot for this great feature?
Regards,
Mario

[2019-06-06 16:54] conrados commented on #26
@VernonCrabtree : works like a charm. Nice workaround.

[2019-06-18 10:49] hskn opened #55 "Error importing SeleniumLibrary"
As a background, I have to use .net Robot Framework, because some complex testing libraries are .net based. So my idea was to use robotremoteserver to also utilize SeleniumLibrary (not supported by .net rf).

[code]

This yields

`    RobotRemoteServer(SeleniumLibrary())
  File "/usr/local/lib/python3.7/site-packages/robotremoteserver.py", line 73, in __init__
    self._library = RemoteLibraryFact

[2019-08-08 10:03] pekkaklarck commented on #55
There are actually two bugs here: blindly using [inspect.getmembers()](https://docs.python.org/3/library/inspect.html#inspect.getmembers) with static libraries and the fact that this method is called at all with hybrid and dynamic libraries such as SeleniumLibrary. I explain them below.

= Using `inspect.getmembers()` with static libraries =

`StaticRemoteLibrary` uses `inspect.getmembers(library)

[2019-08-08 10:06] pekkaklarck commented on #55
Because there are two bugs, we probably should also have two bug reports. Fixing the problem with `inspect.getmembers()` would fix the issue with SeleniumLibrary, but avoiding calling that method in the first place with hybrid and dynamic libraries would be even better fix.

[2019-09-08 18:41] mkorpela opened #56 "Changes None to ''"
Did some tests with remote lib. I just noticed that when running Easter in PythonRemoteServer the None parameter is changed to empty string.. And then "None shall pass" :(

[2019-09-08 22:30] pekkaklarck commented on #56
The reason is that XML-RPC doesn't support None/null that well. I think support for it needs to be enabled on both ends of the connection, and Remote just decided to do `None` -> `""` conversion. I'm not against changing this, but someone needed to test would the change break something.

[2019-09-09 02:48] mkorpela commented on #56
I think I’ll close this one. Just a random observation.

[2019-09-09 02:48] #56 closed

[2019-11-21 14:29] s-galante commented on #19
Any chance we may be able to get this in still?  We are finding a need for it as well and this would eliminate our need to have 10-12 of these running.

[2019-11-22 16:21] pekkaklarck commented on #19
I'm sure this is added at some point, but unfortunately my time is still spent with Robot Framework core and at the moment with trying to get RF 3.2 ready. I'd be ready to share maintainer responsibilities with someone else if there'd be interest.

[2019-12-11 16:43] tw39124-1 opened #57 "Possible RecursionError in KeywordResult._handle_return_value()"
`KeywordResult._handle_return_value()` calls itself as part of a list-comprehension if `ret` does not get handled by the initial if-statements:

[code]

However, in this case `ret` is an object provided by a library, which happens to return itself when `__getitem__` is called. `_handle_return_value` then enters an infinite recursion, which eventually causes the interpreter to raise a RecursionErro

[2020-01-30 12:21] hleskien opened #58 "DeprecationWarning: "from collections import Mapping""
Hi,

I get this in Python 3.8:

`robotremoteserver.py:18: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3, and in 3.9 it will stop working`
`  from collections import Mapping`

Kind regards

Holger

[2020-02-16 21:44] pekkaklarck commented on #58
Needs to update imports when working with this project the next time. Unfortunately I haven't had time for this project lately and with RF 3.2 still being under development won't have time in the near future either.

[2020-02-16 22:01] hleskien commented on #58
Your ACK is enough for me at the moment. Thank you!

[2020-04-11 07:01] tirkarthi commented on #58
I have created https://github.com/robotframework/PythonRemoteServer/pull/59 to fix this. For Python 2 collections is used and for Python 3 collections.abc is used. The move was done in Python 3.4 to raise a deprecation so I assume Python 3.3 is not supported since it's EoL. Thanks.

[2020-04-11 12:01] hleskien commented on #58
Thank you!

[2020-04-17 14:18] #58 closed

[2020-05-05 21:07] timcoote opened #60 "Misleading documentation related to listening to "all interfaces""
README states:

"Address to listen. Use '0.0.0.0' to listen to all available interfaces."

However, this value for "host" only listens on IPv4 addresses. A minimal program, such as this:
"""
from robotremoteserver import RobotRemoteServer as rs

class DummyClass ():
    def __init__ (self):
        pass

rs (DummyClass (), host = "0.0.0.0")
"""

only listens on 0.0.0.0, which is an ipv4 address, r

[2020-05-06 12:08] timcoote commented on #60
It is possible to get RobotRemoteServer to listen on "::". It requires modifying the class variable of `socketserver.TCPServer.address_family` before the class is loaded by `robotremoteserver`, eg:
"""
import socketserver
import socket

socketserver.TCPServer.address_family = socket.AF_INET6

from robotremoteserver import RobotRemoteServer as rs

class DummyClass ():
    def __init__ (self):

[2020-05-06 12:54] pekkaklarck commented on #60
It's true that the documentation is misleading and `0.0.0.0` covers only IPv4. Fixing that is easy but enhancing IPv6 support would be great as well. Anything that could be done in generic manner? Interested to provide a PR?

[2020-05-06 13:00] timcoote commented on #60
I don't know how to create a PR, nor what regression tests I'd need. I think that the code example is sufficient for a more general ipv6 support. Additionally, this change seems to be sufficient to sort out _log in robotremoteserver.py (based on minimal testing), ie just use the first two elements of the server_address tuple:
"""diff /usr/local/lib/python3.7/site-packages/robotremoteserver.py*
151

[2020-05-06 13:05] pekkaklarck commented on #60
GitHub has pretty good instructions related to PRs:

In this case there should be two PRs, one for the doc updated and another for IPv6 support. The latter should actually get its own issue as well. Probably better to start from the doc change as it's easier and requires no tests. The doc is here:
https://github.com/robotframework/PythonRemoteServer/blob/master/src/robotremoteserver.py#L57

[2020-05-06 13:06] timcoote commented on #60
ok. I'll have a go.

[2020-05-06 15:15] timcoote opened #62 "Simple IPv6 Support"
The dependent libraries used by RobotRemoteServer will work with IPv6, but this requires specific documentation and a small code modification (see Issue #60).

[2020-05-06 18:25] VarunJoshi opened #63 "Question - Help Please"
Hi,

I have the python remote server running on one machine. See screenshot (connectionerror.png)
![connectionerror](https://user-images.githubusercontent.com/1350186/81214068-48160580-8fa5-11ea-833c-aeab83444b6f.PNG)

And I am trying to run a selenium test from another machine calling the keywords from the above machine. But I get this error (seleniumtesterror.png).
![seleniumtesterror](https://u

[2020-05-07 08:43] timcoote commented on #60
I found that I also needed to edit README.rst - both included in the PR. Let's see if I got the process correct. I created a new issue for IPv6 support.

[2020-05-07 09:57] timcoote commented on #62
fwiw, at least on Linux, IPv6 is a superset of IPv4. So that, using the example directory a RobotRemoteServer listening on "::" will work with tests.robot with {$ADDRESS} set to ::1, 127.0.0.1, <local ipv4 address> and <local ipv6 address>.

Even specific IPv4 addresses can be used with RobotRemoteServer on IPv6. However, they do require the correct IPv6 subnet. Thus "192.168.1.1" becomes "::ffff:

[2020-05-08 09:08] pekkaklarck commented on #63
Unfortunately at least I don't have any idea what's going wrong. GET should definitely be supported. Did you test the example that's part of this project? Testing the setup so that everything runs on the same machine would be a good idea as well.

This issue tracker isn't really a support forum but rather a place for bug reports and enhancement requests. I'll thus close this issue but if you find

[2020-05-08 09:08] #63 closed

[2020-05-08 20:35] VarunJoshi commented on #63
Is there no support forum for PythonRemoteServer?

[2020-05-11 13:20] pekkaklarck commented on #63
There's no dedicated forum/channel for PythonRemoteServer, but you can use the generic ones like the mailing list or Slack.

[2020-05-29 03:43] mkorpela commented on #55
Linking to forum post https://forum.robotframework.org/t/one-suite-setup-parallel-testlevelsplit/274/6?u=mkorpela

[2020-05-31 20:13] mkorpela commented on #55
[code]

[2020-05-31 20:14] mkorpela commented on #55
Thats the changes I did to make dynamic libs work.

[2020-08-06 10:06] Gaurav21git opened #65 "After installing PythonRemoteServer, No remote file present"
Hi,

I tried to launch my test suites parallel on remote machines. I installed "pip install robotremoteserver" but after installation complete. I had checked Remote folder under site-packages but is showing only documentation file. Screenshot for reference.
![image](https://user-images.githubusercontent.com/43947717/89519789-87e5c680-d7fa-11ea-879a-73b98ddd19de.png)

I tried to execute my test cas

[2020-10-06 08:37] panchiwalashivani opened #72 "Implementation issues in robotframework custom keyword using dynamic library"
There is an error like the below,

          TypeError: methTwo() takes exactly 2
          arguments (1 given)

[2021-03-02 14:29] nicolae-chedea commented on #42
I could also use this improvement. I am working on a project where we have many Robot resource files with many keywords. These keywords are used in the testcases.
I want to run the existing tests remotely and distributed. Some test steps on one machine, some test steps on another machine and so on. The only way to do that now would be to modify all tests steps to replace the existing Robot keyword

[2021-03-05 15:58] pekkaklarck opened #75 "Support new `get_library_info` method to enhance performance with bigger libraries"
Robot Framework 4.0 added support to get all remote library information in one XML-RPC call instead of using multiple calls per keyword (robotframework/robotframework#3362). To really benefit from this enhancement, remove servers need to add the `get_library_info` method.

[2021-03-17 05:52] jupe opened #76 "avoid redirect stdout and stderr for robot"
Currently all stdout/stderr is redirected to keyword outputs during keyword execution which leads that some logs flows to robot remote server process stdout and some to robot framework test/KW logs. This makes very hard to debug remote server instance. Propose to utilise logging module so that during keyword we just create custom logging handler that collects keywords logs for robot framework but

[2021-03-19 11:16] pekkaklarck commented on #76
RoboCon sprints are running today and we just decided to talk about Python remote servers there at 12:00 UTC. Sprints are organized on Gather and you can access them via https://venue.robocon.io. This is very late notice but it would be great if you could make it there @jupe!

[2021-09-23 09:50] HelioGuilherme66 opened #78 "Deprecation warning for broken import on future Python 3.10"
I was just experimenting the Example, and got the following output:
[code]

[2022-01-05 11:08] DanielPenning commented on #78
Can confirm for the current pip release (also for python 3.10
However, this was already fixed 2 years ago on master (e625c7470323496f5699441bc535eb314be501fb).

@pekkaklarck Is it easily possible to publish a release containing the above fix?

[2022-02-10 11:06] ShemTovYosef commented on #78
Hi @pekkaklarck
Since robot framework supports it from 4.1.1, we want to move to python 3.10 but missing this fix in PythonRemoteServer stops us.
Any change to get it?

With regards,
Yosef

[2022-03-28 13:44] SePossum commented on #78
Hi,

I found the same problem today when setting up a new computer with python 3.10.4 and robotframework 5.0:

The following change fixes the problem for me:

In ...\Python\Python310\Lib\site-packages\robotremoteserver.py
change line 18
"""
from collections import Mapping
"""
to
"""
try:
	from collections import Mapping
except:
	# for Python 3.10
	from collections.abc import Mapping, MutableMappin

[2022-08-18 15:14] oberi01 commented on #78
Hi @pekkaklarck,
same as Yosef: the broken import stops us from moving to Python310.
Any plans of releasing a fix?
Thanks!
Richard

[2022-08-18 18:55] Snooz82 commented on #78
+1

[2022-09-23 11:53] UyttenhoveSimon commented on #78
I concur with the above folks, it would greatly help us if you could push a new release.

[2022-10-18 14:03] anujteotia opened #80 "PythonRemoteServer running in background on remote machine, can't interact with Windows desktop applications"
Hi All,

I'm running PythonRemoteServer on remote machine as a background process, It is unable to interact with any windows desktop application. When I open it in cmd manually, it can interact with GUI and execute the test case.